body {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr; 
  grid-template-rows: 1fr 4fr 4fr 4fr 4fr  1fr ;
  background-color: #610c0c;
  }



header {
  position: sticky;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #aa2424;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    width: 100px; /* ajusta el ancho de la imagen */
    height: 100px; /* ajusta el alto de la imagen */
  }
  
  .buscador {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
  }
  
  #buscador {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #440707;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }
  
  #buscador:hover {
    background-color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  #buscador:active {
    background-color: #111;
    box-shadow: none;
    transform: translateY(2px);
  }
  
  #input {
    width: 50vw;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: all 0.3s ease-in-out;
  }
  
  #input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }

  #contenedor {
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    border-color: #be0202;
    border-radius: auto;
    margin-top: 100px;
    gap: 20px;
  }

  
  

  
  #contenedor div {
    background-image: linear-gradient(to bottom, #f5f5dc, #fff);
    background-attachment: fixed;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #333;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }


  #contenedor div h2{
    background-image: linear-gradient(to bottom, #f5f5dc, #fff);
    background-attachment: fixed;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #333;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  


  

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #aa2424;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
  }
  
  #browser {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #aa2424
  }
  
  #browser button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:  #440707;
    color: #fff;
    cursor: pointer;
  }
  
  #browser button:hover {
    background-color: #555;
  }
  
  #browser button:active {
    background-color: #111;
    transform: translateY(2px);
  }

  .tarjeta1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  
    column-gap: 100px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    
  }
  .tarjeta2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  
    column-gap: 100px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    
  }
  .tarjeta3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  
    column-gap: 100px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    
  }
  .trago__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
  }

  .trago {
    display: grid;
    grid-template-rows: 1fr 5fr;
    text-align: center;
    text-size-adjust: fixed;
    font-family: 'Retro Monkey';
    font-size: 36px;
    color: #3d0404;
    text-align: center;
    text-shadow: #e0e073 1px 1px 2px;
    }

    @font-face {
      font-family: 'Retro Monkey';
      src: url('utils/RetroMonkey-Italic.eot');
      src: local('Retro Monkey Italic'), local('RetroMonkey-Italic'),
          url('utils/RetroMonkey-Italic.eot?#iefix') format('embedded-opentype'),
          url('utils/RetroMonkey-Italic.woff2') format('woff2'),
          url('utils/RetroMonkey-Italic.woff') format('woff'),
          url('utils/RetroMonkey-Italic.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
      font-display: swap;
  }

    .title {
      font-family: 'Retro Monkey'; 
      font-size: 36px;
      color: #3d0404;
      text-align: center;
      text-shadow: #e0e073 1px 1px 2px;
    }

    #popular {
      font-family: 'Retro Monkey';
      font-size: 36px;
      color: #3d0404;
      text-align: center;
      text-shadow: #e0e073 1px 1px 2px;

      grid-column-start:2 ;
      grid-column-end:3;
      grid-row-start: 2 ;
      grid-row-end: 3 ;
    }

    .snow-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: -1;
    }
    
    .snow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: radial-gradient(rgb(148, 37, 37), rgba(37, 141, 45, 0));
      background-position: 0% 0%;
      animation: rgb(163, 150, 150) 10s linear infinite;
    }
    .snowflake {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      animation: fall 5s linear infinite;
    }
    @keyframes snow {
      0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: 100% 100%;
      }
    }
    @keyframes fall {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(100vh);
      }
    }